<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(pageTitle)">
    <meta charset="ISO-8859-1">

    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css"
          th:href="@{/assets/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i"/>
    <link rel="stylesheet" href="/fonts/simple-line-icons.min.css"
          th:href="@{/assets/fonts/simple-line-icons.min.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"/>
    <script th:src="@{/assets/js/jquery.min.js}" src="../../static/assets/js/jquery.min.js"></script>
    <script th:src="@{/assets/js/script.min.js}" src="../../static/assets/js/script.min.js"></script>
    <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}" src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>

</head>
</html>
