<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(pageTitle='Ussd Journey Configuration')">

</head>
<body>
<div>

<nav th:fragment="topMenu" class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">

    <style>
        li.active a {
            background-color: #ffc107;
        }
    </style>

    <div class="container"><a class="navbar-brand logo" href="#" th:text="${pageTitle}"></a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto nav-tabs">
                <li class="nav-item nav-item" th:classappend="${selectedMenu == null}? active: ''" role="presentation"><a class="nav-link" href="/ui">Home</a></li>
                <li class="nav-item nav-item" th:classappend="${selectedMenu == 'steps'} ? active : ''" role="presentation"><a class="nav-link" href="/journey-step">Journey Steps</a></li>
                <li class="nav-item nav-item" th:classappend="${selectedMenu == 'journeys'} ? active : ''" role="presentation"><a class="nav-link" href="/journey">Journey</a></li>
                <li class="nav-item nav-item" th:classappend="${selectedMenu == 'messages'} ? active : ''" role="presentation"><a class="nav-link" href="/message">Messages</a></li>
                <li class="nav-item nav-item" th:classappend="${selectedMenu == 'application'} ? active : ''" role="presentation"><a class="nav-link" href="/application">Applications</a></li>
                <li class="nav-item nav-item" th:classappend="${selectedMenu == 'simulator'} ? active : ''" role="presentation"><a class="nav-link" href="/simulator">Simulator</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>
</body>
