<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(pageTitle='Ussd Journey Configuration')"/>
<!--<script src="https://unpkg.com/blockly/blockly.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<body>
<nav th:replace="fragments/menu :: topMenu(pageTitle='Ussd Journey Configuration', selectedMenu='journeys')"/>
<main class="page">
    <section class="clean-block">
        <div class="container-fluid">
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Journey</p>
                    <div class="alert-danger alert text-center alert-dismissible" th:if="${errorMessage != null}">
                        <strong th:text="${errorMessage}"></strong>
<!--                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
                    </div>
                </div>
                <div class="card-body">
                    <table width="100%" class="table table-striped table-bordered">
                        <thead>
                            <tr class="table-header text-center font-weight-bold">
<!--                                <td></td>-->
                                <td>Source</td>
                                <td>Response</td>
                                <td>Label</td>
                                <td>Target</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="journey : ${journeys}" th:if="${journeys != null}"
                                class="text-center"
                                th:onclick="rowClicked([[${journey}]]);"
                            >
<!--                                <td th:text="${journey}"></td>-->
<!--                                <td><input type="radio" th:id="|${journey.getCurrentJourneyStep().getJourneyStepKey().getId()}&#45;&#45;${journey.getValidResponse()}&#45;&#45;${journey.getNextJourneyStep().getJourneyStepKey().getId()}"></td>-->
                                <td th:text="${journey.getCurrentJourneyStep().getLabel()}"></td>
                                <td th:text="${journey.getValidResponse()}"></td>
                                <td th:text="${journey.getLabel()}"></td>
                                <td th:text="${journey.getNextJourneyStep().getLabel()}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block">
        <div class="container-fluid">
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Journey Edit</p>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/journey}" th:object="${journey}" id="journeyForm" method="post">
                        <input type="hidden" id="selectedJourneyId" th:field="*{id}">
                        <table class="table my-0" width="100%">
                            <thead>
                                <tr>
                                    <td>Source</td>
                                    <td>Response</td>
                                    <td>Label Key</td>
                                    <td>Target</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><select th:field="*{source}">
                                        <option th:each="sourceSteps: ${journey_steps}"
                                                th:value="${sourceSteps.journeyStepKey.id}"
                                                th:text="${sourceSteps.label}"></option>
                                    </select></td>
                                    <td><input th:field="*{response}"></td>
                                    <td><input th:field="*{label}"></td>
                                    <td><select th:field="*{target}">
                                        <option th:each="targetSteps: ${journey_steps}"
                                                th:value="${targetSteps.journeyStepKey.id}"
                                                th:text="${targetSteps.label}"></option>
                                    </select></td>
                                </tr>
                            </tbody>
                            <table width="100%">
                                <tr>
                                    <td>
                                        <input type="button" th:onclick="saveJourney()" value="Save" class="btn btn-info col-3"/>
                                    </td>
                                    <td>&nbsp;</td>
                                    <td class="text-right">
                                        <input type="button" th:onclick="deleteJourney()" value="Delete" class="btn btn-danger col-3"/>
                                    </td>
                                </tr>
                            </table>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block">
        <div class="container-fluid">
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Journey Diagram</p>
                </div>
                <div class="card-body">
                    <div class="mermaid" id="journeyDiagram" th:text="${journey_diagram}" th:if="${journey_diagram != ''}"></div>
                </div>
            </div>
        </div>
    </section>

</main>

<div class="toast-container align-middle"  th:if="${errorMessage != null}" style="position: absolute; top: 100px; ">

    <div class="toast fade bg-danger text-white " id="errorToast">
        <div class="toast-header">
            <table class="flex-fill">
                <tr>
                    <td>
                        <p class="icon-exclamation"></p>
                    </td>
                    <td>
                        <strong>Error Message</strong>
                    </td>
                    <td class="text-right">
                        <p class="icon-close text-right" onclick="closeToast()"></p>
                    </td>
                </tr>
            </table>
<!--            <small>!!</small>-->
<!--            <button type="button" class="btn-close" onclick="closeToast()" data-bs-dismiss="toast"></button>-->
        </div>
        <div class="toast-body" th:text="${errorMessage}">

        </div>
    </div>
</div>
</body>
<script th:if="${errorMessage != null}">
    $(document).ready(function(){
        $("#errorToast").toast({
            // autohide: false,
            animation: true,
            delay: 10000
        });
        // $("#errorToast").toast("show");
    })
    function closeToast(){
        $(document).ready(function(){
            $("#errorToast").toast("hide");
        })
    }
</script>
<script>
    function saveJourney(){
        document.getElementById("journeyForm").action = "/journey";
        console.log(document.getElementById('journeyForm'));
        console.log(document.getElementById('journeyForm').method);
        document.getElementById("journeyForm").submit();
    }
    function deleteJourney(){
        document.getElementById("journeyForm").action = "/journey/delete";
        console.log(document.getElementById('journeyForm'));
        console.log(document.getElementById('journeyForm').method);
        document.getElementById("journeyForm").submit();
    }

    function rowClicked(journey) {
        console.log(journey);
        document.getElementById("source").value = journey.currentJourneyStep.journeyStepKey.id;
        document.getElementById("target").value = journey.nextJourneyStep.journeyStepKey.id;
        document.getElementById("response").value = journey.validResponse;
        document.getElementById("selectedJourneyId").value = journey.id;
        document.getElementById("label").value = journey.label;
    }
</script>
</html>
