<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(pageTitle='Ussd Journey Step Configuration')" />

<body>
<nav th:replace="fragments/menu :: topMenu(pageTitle='Ussd Journey Step Configuration', selectedMenu='steps')" />
<main class="page">
    <section class="clean-block" th:if="${journeyStepCurrentList != null} AND ${journeyStepCurrentList.size() > 0}">
        <div class="container-fluid">
<!--            <h3 class="text-dark mb-4">Current Journey Steps</h3>-->
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Journey Step List</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Label</th>
                                <th>Message Id</th>
                                <th>Message</th>
                                <th>Version</th>
                                <th>Application Id</th>
                                <th>Activation Code</th>
                                <th>Service Code</th>
                                <th>First Step</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="step: ${journeyStepCurrentList}"
                                th:onclick="rowClicked([[${step}]]);"
                            >
                                <td th:text="${step.journeyStepKey.id}"></td>
                                <td th:text="${step.label}"></td>
                                <td th:text="${step.messageResourceId}"></td>
                                <td th:each="messages : ${messageList}" th:if="${messages.messageKey == step.messageResourceId}"  th:text="${messages.value}"></td>
                                <td th:text="${step.journeyStepKey.version}"></td>
                                <td th:text="${step.applicationServiceId}"></td>
                                <td th:text="${step.activationCode}"></td>
                                <td th:text="${step.serviceCode}"></td>
                                <td th:text="${step.firstStep}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block" th:else>
        <div class="container-fluid">
<!--            <h3 class="text-dark mb-4">Journey Step Details</h3>-->
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Journey Step Details</p>
                </div>
                <div class="card-body">
                    <form action="#" th:action="@{/journey-step}" th:object="${journeyStep}" method="post">
                        <div class="table-responsive table mt-2 " id="dataTable" role="grid" aria-describedby="dataTable_info">
                            Create new Journey
                            <table class="table dataTable" id="dataTable">
                                <tbody>
                                <tr>
                                    <td>Id</td>
                                    <td><input readonly th:field="*{id}" /></td>
                                </tr>
                                <tr>
                                    <td>Label</td>
                                    <td><input th:field="*{label}" /></td>
                                </tr>
                                <tr>
                                    <td>Message</td>
                                    <!--                                    <td><input th:field="*{messageId}" /></td>-->
                                    <td>
                                        <select th:field="*{messageId}">
                                            <option th:each="msgObj: ${messageList}"
                                                    th:value="${msgObj.messageKey}"
                                                    th:text="${msgObj.value}"
                                                    th:selected="${msgObj.messageKey == messageResourceId}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Application Id</td>
                                    <td>
                                        <select th:field="*{applicationId}">
                                            <option th:each="apps: ${applicationList}"
                                                    th:value="${apps.id}"
                                                    th:text="${apps.name}"
                                                    th:selected="${apps.id == applicationServiceId}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Activation Code</td>
                                    <td><input th:field="*{activationCode}" /></td>
                                </tr>
                                <tr>
                                    <td>Service Code</td>
                                    <td><input th:field="*{serviceCode}" /></td>
                                </tr>

                                <tr>
                                    <td>First Step</td>
                                    <td><input type="checkbox" th:field="*{firstStep}" /></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table my-0">
                                <tr>
                                    <td><button type="submit" class="btn btn-info col-3">Save</button></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block" th:if="${journeyStepList != null} AND ${journeyStepList.size() > 0}">
        <div class="container-fluid">
            <h3 class="text-dark mb-4">All Journey Steps (History)</h3>
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Step</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Label</th>
                                <th>Message Id</th>
                                <th>Version</th>
                                <th>Application Id</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="step: ${journeyStepList}">
                                <td th:text="${step.journeyStepKey.id}"></td>
                                <td th:text="${step.label}"></td>
                                <td th:each="messages : ${messageList}" th:if="${messages.messageKey == step.messageResourceId}"  th:text="${messages.value}"></td>
                                <td th:text="${step.journeyStepKey.version}"></td>
                                <td th:text="${step.applicationServiceId}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
</body>
<script lang="javascript">
    function rowClicked(data) {
        document.getElementById("messageId").value = data.messageResourceId;
        document.getElementById("id").value = data.journeyStepKey.id;
        document.getElementById("applicationId").value = data.applicationServiceId;
        document.getElementById("serviceCode").value = data.serviceCode;
        document.getElementById("activationCode").value = data.activationCode;
        document.getElementById("label").value = data.label;

        document.getElementById("firstStep1").checked = data.firstStep;
        console.log(data)
    }
</script>
</html>
