<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(pageTitle='Ussd Messages Configuration')" />

<body>
<nav th:replace="fragments/menu :: topMenu(pageTitle='Ussd Messages Configuration', selectedMenu='messages')" />
<main class="page">

    <section class="clean-block" th:if="${messageList != null} AND ${messageList.size() > 0}">
        <div class="container-fluid">
<!--            <h3 class="text-dark mb-4">Messages</h3>-->
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Messages List</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table dataTable my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>Key</th>
                                <th>Source</th>
                                <th>Locale</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="step: ${messageList}"
                                th:onclick="rowClicked([[${step}]]);"
                            >
                                <td th:text="${step.messageKey}"></td>
                                <td th:text="${step.source}"></td>
                                <td th:text="${step.locale}"></td>
                                <td th:text="${step.value}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="clean-block" th:else>
        <div class="container-fluid">
<!--            <h3 class="text-dark mb-4">Message</h3>-->
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 font-weight-bold">Message Details</p>
                </div>
                <div class="card-body">
                    <form id="actionForm" action="#" th:action="@{/message}" th:object="${message}" method="post">
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            Create new Message
                            <table class="table dataTable my-0" id="dataTable">
                                <tbody>
                                <tr>
                                    <td>Key</td>
                                    <td><input th:field="*{messageKey}" /></td>
                                </tr>
                                <tr>
                                    <td>Source</td>
                                    <td><input th:field="*{source}" /></td>
                                </tr>
                                <tr>
                                    <td>Locale</td>
                                    <td><input th:field="*{locale}" /></td>
                                </tr>
                                <tr>
                                    <td>Vale</td>
                                    <td><input th:field="*{value}" /></td>
                                </tr>
                                </tbody>
                            </table>
                            <table width="100%" >
                                <tr>
                                    <td><button th:onclick="saveMessage()" class="btn btn-info col-3">Save</button></td>
                                    <td></td>
                                    <td class="text-right"><button th:onclick="deleteMessage()" class="btn btn-danger col-3">delete</button></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
<script lang="javascript">
    function rowClicked(data) {
        document.getElementById("messageKey").value = data.messageKey;
        document.getElementById("source").value = data.source;
        document.getElementById("locale").value = data.locale;
        document.getElementById("value").value = data.value;
        console.log(data)
    }
    function deleteMessage() {
        document.getElementById("actionForm").action = "/message/delete";
        console.log(document.getElementById('actionForm'));
        console.log(document.getElementById('actionForm').action);
        document.getElementById("actionForm").submit();
    }
    function saveMessage() {
        document.getElementById("actionForm").action = "/message";
        console.log(document.getElementById('actionForm'));
        console.log(document.getElementById('actionForm').method);
        document.getElementById("actionForm").submit();
    }
</script>
</html>
